/target
*.db
*.db-shm
*.db-wal
examples/c/demo

# 绑定的构建产物 / 依赖
bindings/node/node_modules/
bindings/java/out/
bindings/java/lib/*.jar
bindings/python/__pycache__/

# 业务侧客户端的构建产物 / 依赖
clients/java/out/
clients/java/target/
clients/python/dist/
clients/python/build/
clients/python/*.egg-info/
clients/node/*.tgz
clients/java/lib/*.jar
clients/node/node_modules/
clients/python/psycopg2*/
clients/python/pymysql/
clients/python/*.dist-info/
clients/python/bin/
clients/python/__pycache__/
